body {margin: 0; padding: 0;}
.clearfix {clear:both;}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
}
.alignleft {float:left;}
.hidden {visibility: hidden;display: none;}
a { color: #339; text-decoration: none;}
a:hover { color: #33f; text-decoration: underline;}
img {border: 0;}
h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {font-family: Georgia, serif; margin: 0; padding: 0; font-weight: normal; line-height: 1.5em; }
h1 {text-align: center;margin-bottom: 5px;}
strong {color: #356EBF;}
p { margin: 0.6em 0 1.15em; padding: 0;line-height: 1.5em;}
#page ul, #page ol { margin: 0.6em 0 1.15em; line-height: 1.5em;}
ol.commentlist, li.commentlist { margin: 0; padding: 0; list-style:none;}
li.categories {list-style: none;list-style: none;}
#page ul li {list-style-image: url('../images/aright.png');}
#sidebar ul {padding-left: 5px !important; margin-left: 5px !important;}
#sidebar ul li {list-style-image: url('../images/menubullet.png');}
#sidebar .sidebar-widget {background: url('../images/sideborder.png') no-repeat bottom center;}
blockquote {background: #eee; margin: 0.5em 0; padding: 1.0em;}
.odd {border-top: 1px solid #ccc; border-right: 0; border-bottom: 0; border-left: 1px solid #ccc; margin: 0.5em 0 0.5em 0; padding: 0.5em;}
.even { border-top: 1px solid #ddd; border-right: 0; border-bottom: 0; border-left: 1px solid #ddd; margin: 0.5em 0 0.5em 0; padding: 0.5em;}
.meta { font-size: 0.75em; color:#666; margin: 0 0 1.0em 0;}

img {max-width: 930px;}
img.alignright { float:right; margin:0 0 1em 1em;}	
img.alignleft { float:left; margin:0 1em 1em 0;}
img.aligncenter { display: block; margin-left: auto; margin-right: auto;}
a img.alignright { float:right; margin:0 0 1em 1em;}
a img.alignleft { float:left; margin:0 1em 1em 0;}
a img.aligncenter { display: block; margin-left: auto; margin-right: auto;}
.in {text-indent: -9999px;width:60px; height: 22px;}
.i1 {background: url(../images/n.png) no-repeat;}
.i2 {}
.i3 {background: url(../images/e.png) no-repeat;}
#url {display: none !important;}