body {font-family: Arial, Verdana, sens-serif; font-size: 1.1em;	line-height: 1.3em; color: #444; }
#header {position: absolute; top: 70px; left: 370px;z-index:99;}
#header.contenar {padding-top: 5px; background: url(images/55bg.png);}
#logo {position: fixed; opacity: 0.5; }
#name-and-slogan {position: fixed; margin: 30px 0 10px 150px; opacity: 0.5;}

/***** Front page => #frontwrap *****/
#frontwrap {width: 360px;}
#frontwrap #page {float: left; background: url(images/55bg.png); width: 100%;}
#frontwrap #content { background: url(images/55bg.png); padding: 5px 15px;}

*::-moz-selection {
    color: #FFFFFF;
}
*::-moz-selection {
    background-color: #1994E6;
}

.front .background_overlay {
    background-image:url(images/diagonal.png);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
/***** End of Front page *****/

#wrap {width: 960px; padding: 0 auto; margin: 0 auto;}

#page {float: left; background: url(images/77bg.png);width: 100%;}

#menubars {	margin: 10px 0;padding: 7px 0 7px 15px;width: 600px;overflow: hidden; float: right;height: 30px;}

#navbar {clear: both;display: block; width: 100%; height:35px; background: #B7B7CE;overflow: hidden;}/*4e4e4e*/
#navbar ul, #navbar ul ul {	margin: 0;	padding-left: 0;} 
#navbar ul li {float: left;list-style: none;display: inline;height: 35px;}
#navbar li a {	display: block; font-size: 14px; padding: 8px 20px;border-left: 1px solid #000;text-decoration: none;color: #f1f1f1;}
#navbar li.first a {border-left: 0px;}
#navbar li.parent-menu-item a {padding: 8px 25px 8px 20px;background: url(images/parentmenu.png) no-repeat top right;}
#navbar li.current-menu-item a {background: #83869E;}
#navbar li.parent-menu-item.current-menu-item a {padding: 8px 25px 8px 20px;background: #83869E url(images/parentmenu.png) no-repeat top right;}
#navbar li a:hover {background: #000;}
#navbar li.parent-menu-item a:hover {	padding: 8px 25px 8px 20px; background: #000 url(images/parentmenu.png) no-repeat bottom right;}
/*** Dropdown menu ***/
#navbar ul li .sub-menu {display: none;}
#navbar ul li:hover .sub-menu {display: block; width: 200px; z-index: 1000;position: absolute;border:1px solid #e8e8e8;border-top: 0;background: #fcfcfc;margin: 0; }
#navbar ul li:hover .sub-menu a, #navbar li .sub-menu a {background: #fcfcfc ; color: #777;display: block; font-size: 14px; width: 200px;padding: 0 !important;border: 0;border-bottom: 1px solid #e8e8e8;}
#navbar ul li:hover .sub-menu a span {display: block;padding: 8px;}
#navbar ul li:hover .sub-menu a:hover {background: #777;color: #fff;}


#page .contenar .core {padding-top: 5px;}
#leftc {float: left; width: 48%;}
#rightc {float: right; width: 48%;}
#cu {display: table;margin-bottom: 15px;}
#cu div {display: table-row;}
#cu input, #cu textarea {display: table-cell;width: 250px;}
#cu span {display: table-cell;width: 80px;}

#topcontent {background: #e0e3ff url(images/topcontent.png) repeat-x top left;padding: 10px 0 2px;}

#topleft {width:640px;padding: 20px 10px 0;}
#topright {width: 248px; color: #4456ff;}
#topright, #topleft {margin: 0 5px; }
.Top-Left, .Top-Right {padding: 5px 10px 10px;}
.Top-Left {background: #4456ff;color: #E0E3FF;border: #4456ff 2px solid;border-radius:11px;-moz-border-radius:11px; /* Firefox 3.6 and earlier */}
.Top-Left a {color: #fff;font-weight: bold;}
.Top-Right h2 {padding: 10px 0 0;}

#featuredcontent {background: #f7f7f7; padding-left: 310px; padding-right: 310px;overflow: hidden;}
#featuredcontent .column {position: relative; float: left;}
#fccenter {width: 100%;}
#fcleft, #fcright {width: 310px;}
#fcleft {right: 310px; margin-left: -100%;}
#fcright {margin-right: -100%;}
.fc, .fc p {color: #544F1E;line-height: 1.5em;} 
.fcinner { padding: 0 11px;}
.fc h2 {background: #e0e3ff url(images/fctitle.png) no-repeat 50% 100%;height: 30px; padding: 15px 55px 10px 70px; overflow: hidden; margin-top: 12px; border:1px solid #e0e3ff;border-radius: 10px 10px 0 0;-moz-border-radius:10px 10px 0 0; font-family: Helvetica, Arial, sans-serif; color: #444;text-shadow: 2px 2px 3px #888;font-size: 20px;font-style: italic;}
#fccenter h2 {padding: 15px 40px 10px 85px;}
.wcontent {background: #e0e3ff; padding:1px 10px;margin-top: -5px; padding-bottom: 20010px;  /* X + padding-bottom */  margin-bottom: -20000px;  /* X */}

#pcontent {margin: 0;padding: 0px 5px 10px 15px;float: left;width: 610px; }
#content { background: url(images/55bg.png);padding: 5px 15px;}
.threes {padding: 7px; margin-top: 11px; background: #3B71B7;color: #E0E3FF;border: #4456ff 2px solid;border-radius:11px;-moz-border-radius:11px; /* Firefox 3.6 and earlier */}
.threes a {color: #fff;font-weight: bold; text-decoration: underline;}
.the_content { font-size: 0.875em; line-height: 1.75em; color:#222; }
.comments {font-size: 0.875em; line-height: 1.5em; color:#333;}

#contactform {}
#contactform li {list-style: none !important; list-style-image: none; margin: 10px 0;}

#sidebar {padding: 20px 5px 0 20px; margin: 10px 11px 0 0;float: right;	color: #444;width: 275px;background: #e1e1eb;border:1px solid #eee;border-radius: 7px 7px 0 0;-moz-border-radius:10px 10px 0 0;}
#sidebar ul, #bottom ul { margin: 0 0 0 5px; padding: 0 0 0 5px;	text-indent: 0;}
.sidebar-widget { margin: 0 0 15px 0; padding: 0 0 25px 0;}
#sidebar h4, #bottom h4 { font-size: 1.2em;}


#bottom { clear: both; margin: 0; padding: 0; font-size: 0.75em; text-align: center;}
.Bottom-first { float: left; width: 306px; margin: 0; padding: 10px; text-align: left; background: #eee; }
.Bottom-third { float: right; width: 306px; margin: 0; padding: 10px; text-align: left; border-left: 1px solid #fff; background: #eee; }
.Bottom-second { float: left; width: 306px; margin: 0; padding: 10px; text-align: left; border-left: 1px solid #fff; background: #ddd; }
.Bottom-fourth { margin: 10px 0; padding: 0; clear: right; }
.bottom-widget { margin: 0 0 20px 0; padding: 0; }

.commentlist { padding: 0; text-align: justify; }
.commentlist li { margin: 15px 0 10px; padding: 5px 5px 10px 10px; list-style: none; }
.commentlist li ul li { margin-right: -5px; margin-left: 10px;}
.commentlist p { margin: 10px 5px 10px 0;}
.children { padding: 0; }
#commentform p { margin: 5px 0;}
.nocomments { text-align: center; margin: 0; padding: 0;}
.commentmetadata { margin: 0; display: block;}
.more-link { font-weight: bold; text-decoration: none;}

#footer { background: #000; clear: both; font-size: 0.75em; text-align: center; color: #666;}
#subfooter {padding: 5px;background: #162838;color: #888;font-size: 14px; text-align: left;}
#subfooter a {color: #bbb;}
.sf {padding: 10px;width:214px;}
.sbottom h4 {font-size: 18px; background: url(images/right.gif) no-repeat top left; padding-left: 35px;color: #fff;}
#footer p {margin: 11px 0 0 0; padding: 0 0 5px 0;}

/********slider*************/
#slideshow {
    position:relative;
    height:300px;
    z-index:-2;
}
 
#slideshow li {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
 
#slideshow li.active {
    z-index:10;
    opacity:1.0;
}
 
#slideshow li.last-active {
    z-index:9;
}
 
#slideshow li,
#slideshow li img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1366px;
 
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
 
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
#slideshow li div.atr {
    /* Set up positioning */
    position: fixed;
    top: 85%;
    left: 70%;
	z-index: 3;
	background: url(images/55bg.png);
	padding: 0.3em 1em;
	border-radius: 8px;
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
}
 
@media screen and (max-width: 1366px){
  #slideshow li.bg {
    left: 50%;
    margin-left: -512px;
}
}